[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"

[packages]
flask = "*"
flask-socketio = "*"
socketio = "*"

[requires]
python_version = "3.7"
